<div class="row" *ngIf="workers.length>0">
    <div class="col-12">
        <h5>{{title}}</h5>
    </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surame</th>
        <th scope="col">Phone</th>
        <th scope="col" [style.width]="'150px'"></th>
        <th scope="col" [style.width]="'150px'"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers | myfilter: searchWorker">
        <th scope="row">{{worker.id}}</th>
        <td>{{worker.name}}</td>
        <td>{{worker.surname}}</td>
        <td>{{worker.phone}}</td>
        <td>
            <button class="btn btn-outline-success btn-sm"
            (click)="toEditWorker(worker.id)" 
            >Редактировать</button>
        </td>
        <td>
            <button class="btn btn-outline-danger btn-sm" 
            (click)="onDeleteWorker(worker.id)">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

