<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <app-add-worker (addWorker)="onAddWorker($event)"></app-add-worker>

  <app-edit-worker *ngIf="flag===true" 
  [workerForEdit]="workerForEdit" 
  (edittedWorker)="onEditWorker($event)"></app-edit-worker>

  <div class="row">
    <div class="col-12 mb-3">
      <h5>Поиск по имени и фамилии</h5>
      <input type="text" class="form-control" placeholder="Введите имя или фамилию" [(ngModel)]="searchWorker">
    </div>
  </div>

  <app-table-worker  [title]="'Программисты'"
  [workers]="getByType(myWorkerType.programmer)"
  [searchWorker]="searchWorker"
  (deleteWorker)="onDeleteWorker($event)"
  (editWorker)="toEditWorker($event)">
  </app-table-worker>

  <app-table-worker [title]="'Дизайнеры'"
  [workers]="getByType(myWorkerType.designer)"
  [searchWorker]="searchWorker"
  (deleteWorker)="onDeleteWorker($event)"
  (editWorker)="toEditWorker($event)">
  </app-table-worker> 

  <app-table-worker [title]="'Рекламщики'"
  [workers]="getByType(myWorkerType.copywriter)"
  [searchWorker]="searchWorker"
  (deleteWorker)="onDeleteWorker($event)"
  (editWorker)="toEditWorker($event)">
  </app-table-worker> 

  <app-table-worker [title]="'Менеджеры'"
  [workers]="getByType(myWorkerType.manager)"
  [searchWorker]="searchWorker"
  (deleteWorker)="onDeleteWorker($event)"
  (editWorker)="toEditWorker($event)">
  </app-table-worker> 
     
</div>

